USE [master]
GO
/****** Object:  Database [Clubs]    Script Date: 2020-08-28 11:06:45 AM ******/
CREATE DATABASE [Clubs]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clubs]
GO
/****** Object:  Table [dbo].[artist]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artist](
	[artistId] [int] NOT NULL,
	[minimumHourlyRate] [float] NOT NULL,
	[nameAddressid] [int] NOT NULL,
 CONSTRAINT [PK_artist] PRIMARY KEY CLUSTERED 
(
	[artistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artistInstrument]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artistInstrument](
	[artistInstrumentId] [int] IDENTITY(1,1) NOT NULL,
	[artistId] [int] NOT NULL,
	[instrumentId] [int] NOT NULL,
 CONSTRAINT [PK_artistInstrument] PRIMARY KEY CLUSTERED 
(
	[artistInstrumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artistStyle]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artistStyle](
	[artistId] [int] NOT NULL,
	[styleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_artistStyle] PRIMARY KEY CLUSTERED 
(
	[artistId] ASC,
	[styleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club](
	[clubId] [int] NOT NULL,
 CONSTRAINT [PK_club] PRIMARY KEY CLUSTERED 
(
	[clubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clubStyle]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clubStyle](
	[clubId] [int] NOT NULL,
	[styleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_clubStyle] PRIMARY KEY CLUSTERED 
(
	[clubId] ASC,
	[styleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[artistId] [int] NOT NULL,
	[clubId] [int] NOT NULL,
	[pricePerPerformance] [float] NOT NULL,
	[numberPerformances] [int] NOT NULL,
	[totalPrice] [float] NOT NULL,
 CONSTRAINT [PK_contract] PRIMARY KEY CLUSTERED 
(
	[contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[countryCode] [char](2) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[postalPattern] [varchar](255) NULL,
	[phonePattern] [varchar](50) NULL,
	[federalSalesTax] [float] NOT NULL,
	[provinceTerminology] [varchar](50) NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[countryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupMember]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupMember](
	[artistIdGroup] [int] NOT NULL,
	[artistIdMember] [int] NOT NULL,
	[dateJoined] [datetime] NULL,
	[dateLeft] [datetime] NULL,
 CONSTRAINT [PK_groupMember_1] PRIMARY KEY CLUSTERED 
(
	[artistIdGroup] ASC,
	[artistIdMember] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instrument]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instrument](
	[instrumentId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_instrument] PRIMARY KEY CLUSTERED 
(
	[instrumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nameAddress]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nameAddress](
	[nameAddressId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[companyName] [varchar](50) NULL,
	[streetAddress] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[postalCode] [varchar](50) NULL,
	[provinceCode] [char](2) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
 CONSTRAINT [PK_nameAddress] PRIMARY KEY CLUSTERED 
(
	[nameAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[province]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[provinceCode] [char](2) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[countryCode] [char](2) NOT NULL,
	[salesTaxCode] [varchar](50) NULL,
	[salesTax] [float] NOT NULL,
	[includesFederalTax] [bit] NOT NULL,
	[firstPostalLetter] [varchar](50) NULL,
 CONSTRAINT [PK_province] PRIMARY KEY CLUSTERED 
(
	[provinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[style]    Script Date: 2020-08-28 11:06:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[style](
	[styleName] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK_style] PRIMARY KEY CLUSTERED 
(
	[styleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[artist] ([artistId], [minimumHourlyRate], [nameAddressid]) VALUES (1, 0, 1)
INSERT [dbo].[artist] ([artistId], [minimumHourlyRate], [nameAddressid]) VALUES (2, 0, 2)
INSERT [dbo].[artist] ([artistId], [minimumHourlyRate], [nameAddressid]) VALUES (3, 0, 3)
SET IDENTITY_INSERT [dbo].[artistInstrument] ON 

INSERT [dbo].[artistInstrument] ([artistInstrumentId], [artistId], [instrumentId]) VALUES (1, 1, 11)
INSERT [dbo].[artistInstrument] ([artistInstrumentId], [artistId], [instrumentId]) VALUES (2, 1, 15)
INSERT [dbo].[artistInstrument] ([artistInstrumentId], [artistId], [instrumentId]) VALUES (3, 1, 17)
SET IDENTITY_INSERT [dbo].[artistInstrument] OFF
INSERT [dbo].[artistStyle] ([artistId], [styleName]) VALUES (1, N'Country')
INSERT [dbo].[artistStyle] ([artistId], [styleName]) VALUES (2, N'Middle of the Road')
INSERT [dbo].[artistStyle] ([artistId], [styleName]) VALUES (3, N'Country-Rock')
INSERT [dbo].[club] ([clubId]) VALUES (25)
INSERT [dbo].[club] ([clubId]) VALUES (26)
INSERT [dbo].[club] ([clubId]) VALUES (27)
INSERT [dbo].[clubStyle] ([clubId], [styleName]) VALUES (25, N'Middle of the Road')
INSERT [dbo].[clubStyle] ([clubId], [styleName]) VALUES (26, N'Classic Rock & Roll')
INSERT [dbo].[clubStyle] ([clubId], [styleName]) VALUES (27, N'Magic')
SET IDENTITY_INSERT [dbo].[contract] ON 

INSERT [dbo].[contract] ([contract], [startDate], [artistId], [clubId], [pricePerPerformance], [numberPerformances], [totalPrice]) VALUES (284, CAST(N'1999-06-26T00:00:00.000' AS DateTime), 1, 35, 550, 2, 0)
INSERT [dbo].[contract] ([contract], [startDate], [artistId], [clubId], [pricePerPerformance], [numberPerformances], [totalPrice]) VALUES (285, CAST(N'1999-07-01T00:00:00.000' AS DateTime), 6, 49, 450, 8, 0)
INSERT [dbo].[contract] ([contract], [startDate], [artistId], [clubId], [pricePerPerformance], [numberPerformances], [totalPrice]) VALUES (286, CAST(N'1999-07-01T00:00:00.000' AS DateTime), 4, 47, 0, 16, 0)
GO
SET IDENTITY_INSERT [dbo].[contract] OFF
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern], [federalSalesTax], [provinceTerminology]) VALUES (N'CA', N'Canada', N'[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ] ?\d[ABCEGHJKLMNPRSTVWXYZ]\d', N'\d{3}-\d{3}-\d{4}', 0.05, N'Province')
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern], [federalSalesTax], [provinceTerminology]) VALUES (N'DE', N'Germany', N'\d{5}', N'\(0\d{3}\) \d{4} \d{4} ', 0.19, N'State')
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern], [federalSalesTax], [provinceTerminology]) VALUES (N'FR', N'France', N'\d{5}', N'0\d (\d\d){4}', 0.2, N'Prefecture')
INSERT [dbo].[groupMember] ([artistIdGroup], [artistIdMember], [dateJoined], [dateLeft]) VALUES (5, 14, CAST(N'2020-05-25T01:01:00.000' AS DateTime), NULL)
INSERT [dbo].[groupMember] ([artistIdGroup], [artistIdMember], [dateJoined], [dateLeft]) VALUES (5, 18, CAST(N'2020-05-25T00:00:00.000' AS DateTime), CAST(N'2020-05-26T01:01:00.000' AS DateTime))
INSERT [dbo].[groupMember] ([artistIdGroup], [artistIdMember], [dateJoined], [dateLeft]) VALUES (24, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[instrument] ON 

INSERT [dbo].[instrument] ([instrumentId], [name]) VALUES (1, N'Acoustic Guitar')
INSERT [dbo].[instrument] ([instrumentId], [name]) VALUES (2, N'Acoustic Piano')
INSERT [dbo].[instrument] ([instrumentId], [name]) VALUES (3, N'Bass')
SET IDENTITY_INSERT [dbo].[instrument] OFF
SET IDENTITY_INSERT [dbo].[nameAddress] ON 

INSERT [dbo].[nameAddress] ([nameAddressId], [firstName], [lastName], [companyName], [streetAddress], [city], [postalCode], [provinceCode], [email], [phone]) VALUES (1, N'The Yurts', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'519-748-5220')
INSERT [dbo].[nameAddress] ([nameAddressId], [firstName], [lastName], [companyName], [streetAddress], [city], [postalCode], [provinceCode], [email], [phone]) VALUES (2, N'Non-Nutritious', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'519-748-5220')
INSERT [dbo].[nameAddress] ([nameAddressId], [firstName], [lastName], [companyName], [streetAddress], [city], [postalCode], [provinceCode], [email], [phone]) VALUES (3, N'Internal Hemorrhage', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'519-748-5220')
SET IDENTITY_INSERT [dbo].[nameAddress] OFF
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [salesTaxCode], [salesTax], [includesFederalTax], [firstPostalLetter]) VALUES (N'AB', N'Alberta', N'CA', N'', 0, 0, N'T')
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [salesTaxCode], [salesTax], [includesFederalTax], [firstPostalLetter]) VALUES (N'AK', N'Alaska', N'US', N'state tax', 0, 1, NULL)
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [salesTaxCode], [salesTax], [includesFederalTax], [firstPostalLetter]) VALUES (N'AR', N'Arkansas', N'US', N'state tax', 0.065, 1, NULL)
INSERT [dbo].[style] ([styleName], [description]) VALUES (N'50s Music', NULL)
INSERT [dbo].[style] ([styleName], [description]) VALUES (N'Classic Rock & Roll', NULL)
INSERT [dbo].[style] ([styleName], [description]) VALUES (N'Comedy', NULL)
ALTER TABLE [dbo].[artist] ADD  CONSTRAINT [DF_artist_minimumHourlyRate]  DEFAULT ((0)) FOR [minimumHourlyRate]
GO
ALTER TABLE [dbo].[artist] ADD  CONSTRAINT [DF_artist_nameAddressid]  DEFAULT ((0)) FOR [nameAddressid]
GO
ALTER TABLE [dbo].[contract] ADD  CONSTRAINT [DF_contract_pricePerPerformance]  DEFAULT ((0)) FOR [pricePerPerformance]
GO
ALTER TABLE [dbo].[contract] ADD  CONSTRAINT [DF_contract_numberOfPerformances]  DEFAULT ((0)) FOR [numberPerformances]
GO
ALTER TABLE [dbo].[contract] ADD  CONSTRAINT [DF_contract_totalPrice]  DEFAULT ((0)) FOR [totalPrice]
GO
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_salesTax]  DEFAULT ((0)) FOR [salesTax]
GO
ALTER TABLE [dbo].[artist]  WITH CHECK ADD  CONSTRAINT [FK_artist_nameAddress] FOREIGN KEY([nameAddressid])
REFERENCES [dbo].[nameAddress] ([nameAddressId])
GO
ALTER TABLE [dbo].[artist] CHECK CONSTRAINT [FK_artist_nameAddress]
GO
ALTER TABLE [dbo].[artistInstrument]  WITH CHECK ADD  CONSTRAINT [FK_artistInstrument_artist] FOREIGN KEY([artistId])
REFERENCES [dbo].[artist] ([artistId])
GO
ALTER TABLE [dbo].[artistInstrument] CHECK CONSTRAINT [FK_artistInstrument_artist]
GO
ALTER TABLE [dbo].[artistInstrument]  WITH CHECK ADD  CONSTRAINT [FK_artistInstrument_instrument] FOREIGN KEY([instrumentId])
REFERENCES [dbo].[instrument] ([instrumentId])
GO
ALTER TABLE [dbo].[artistInstrument] CHECK CONSTRAINT [FK_artistInstrument_instrument]
GO
ALTER TABLE [dbo].[artistStyle]  WITH CHECK ADD  CONSTRAINT [FK_artistStyle_artist] FOREIGN KEY([artistId])
REFERENCES [dbo].[artist] ([artistId])
GO
ALTER TABLE [dbo].[artistStyle] CHECK CONSTRAINT [FK_artistStyle_artist]
GO
ALTER TABLE [dbo].[artistStyle]  WITH CHECK ADD  CONSTRAINT [FK_artistStyle_style] FOREIGN KEY([styleName])
REFERENCES [dbo].[style] ([styleName])
GO
ALTER TABLE [dbo].[artistStyle] CHECK CONSTRAINT [FK_artistStyle_style]
GO
ALTER TABLE [dbo].[club]  WITH CHECK ADD  CONSTRAINT [FK_club_nameAddress] FOREIGN KEY([clubId])
REFERENCES [dbo].[nameAddress] ([nameAddressId])
GO
ALTER TABLE [dbo].[club] CHECK CONSTRAINT [FK_club_nameAddress]
GO
ALTER TABLE [dbo].[clubStyle]  WITH CHECK ADD  CONSTRAINT [FK_clubStyle_club] FOREIGN KEY([clubId])
REFERENCES [dbo].[club] ([clubId])
GO
ALTER TABLE [dbo].[clubStyle] CHECK CONSTRAINT [FK_clubStyle_club]
GO
ALTER TABLE [dbo].[clubStyle]  WITH CHECK ADD  CONSTRAINT [FK_clubStyle_style] FOREIGN KEY([styleName])
REFERENCES [dbo].[style] ([styleName])
GO
ALTER TABLE [dbo].[clubStyle] CHECK CONSTRAINT [FK_clubStyle_style]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_artist] FOREIGN KEY([artistId])
REFERENCES [dbo].[artist] ([artistId])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_artist]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_club] FOREIGN KEY([clubId])
REFERENCES [dbo].[club] ([clubId])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_club]
GO
ALTER TABLE [dbo].[groupMember]  WITH CHECK ADD  CONSTRAINT [FK_groupMember_artist] FOREIGN KEY([artistIdGroup])
REFERENCES [dbo].[artist] ([artistId])
GO
ALTER TABLE [dbo].[groupMember] CHECK CONSTRAINT [FK_groupMember_artist]
GO
ALTER TABLE [dbo].[groupMember]  WITH CHECK ADD  CONSTRAINT [FK_groupMember_artist1] FOREIGN KEY([artistIdMember])
REFERENCES [dbo].[artist] ([artistId])
GO
ALTER TABLE [dbo].[groupMember] CHECK CONSTRAINT [FK_groupMember_artist1]
GO
ALTER TABLE [dbo].[nameAddress]  WITH CHECK ADD  CONSTRAINT [FK_nameAddress_province] FOREIGN KEY([provinceCode])
REFERENCES [dbo].[province] ([provinceCode])
GO
ALTER TABLE [dbo].[nameAddress] CHECK CONSTRAINT [FK_nameAddress_province]
GO
ALTER TABLE [dbo].[province]  WITH CHECK ADD  CONSTRAINT [FK_province_country] FOREIGN KEY([countryCode])
REFERENCES [dbo].[country] ([countryCode])
GO
ALTER TABLE [dbo].[province] CHECK CONSTRAINT [FK_province_country]
GO
USE [master]
GO
